body {
    background: #3782dd;
}

.header {
	background: #448fea;
}

.main-menu__link,
.top-menu__link {
    color: #fff;
}

.breadcrumb {
    color: #a2a8b0;
}

.content a {
    color: #3782dd;
}

.header,
.intro {
    color: #fff;
}

.region-content {
    background: #fff;
    color: #333;
}

.form-text,
.form-email,
.form-textarea {
    border-color: #acacac;
}

.form-text:focus,
.form-email:focus,
.form-textarea:focus {
	border-color: #7a7a7a;
}

.messages_status,
.webform-confirmation__message {
    border-color: #1f9363;
    color: #1f9363;    
}

.messages_status:before, 
.webform-confirmation__message:before {
    background-color: #1f9363;  
}

.messages_error {    
    border-color: #cc3131;
    color: #cc3131;
}

.messages_error:before {
    background-color: #cc3131;  
}



