body,
.sidebar-first,
.header,
.mobile-nav,
.purposes-list__item:before,
.node__content ul li:before {
    background: #3a88dd;
}

.page-header__summary,
.about__text:before,
.join__text:before,
.footer:before,
.footer {
    background: #1c5088;
}

.page-header:before,
.project__text-inner,
.content-main:before,
.content-bg,
.featured,
.region-featured,
.region-content,
.main-menu__link:before,
.top-menu__link:after,
.footer-menu__link:after,
.mobile-nav-toggle span,
.articles-block-item__title,
.article__title,
.project__title {
    background: #fff;
}

.header,
.main-menu__link,
.top-menu__link,
.footer-menu__link,
.page-title,
.page-header__summary,
.view__title_white,
.about__body,
.join__body,
.button,
.mobile-menu__link,
.tabs a,
.footer,
.footer a {
    color: #fff;
}

.block-title,
.page-subtitle,
.view__title_grey,
.view-documents__title,
.view__link_grey,
.qa__question-name,
.qa__answer-label,
.specialist__position,
.specialist__name,
.node__content h2,
.node__content h3,
.node__content h4,
.node__content h5,
.node__content h6 {
    color: #33393f;
}

.node__content a,
.file a,
.specialist__description a {
    color: #3a88dd;
}

.node__content a:hover,
.file a:hover,
.specialist__description a:hover {
    color: #1c5088;
}

.button--primary,
.tabs a {
    background: #3a88dd;
}

.button--primary:hover,
.tabs a:hover {
    background: #1c5088;
}

.button--secondary {
    background: transparent;
    border: 2px solid #3a88dd;
}

.button--secondary:hover {
    border: 2px solid #fff;
}

.header .button--secondary {
    border: 2px solid #fff;
}

.node__content,
.purposes-list__item,
.objectives-list__item,
.form-text,
.form-email,
.form-textarea,
.qa__question,
.qa__answer {
    color: #414448;
}

.view__description,
.partner__description,
.specialist__description,
.form__label {
    color: #56595c;
}

.view__subtitle {
    color: #a3a7ab;
}

.news-item__summary,
.conference__summary,
.project__summary,
.article__summary {
    color: #818589;
}

.news-block-item:last-child {
	border-right: none;
}

.news-block-item__date,
.page-header__date,
.news-item__date {
    color: #3a88dd;
}

.block-views-blockpage-files-block-1 {
    border-bottom: 2px solid #3a88dd;
}

.form__label_required:after {
    color: #cc3131;  
}

.form-text,
.form-email,
.form-textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-text:focus,
.form-email:focus,
.form-textarea:focus {
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.messages_status,
.webform-confirmation__message {    
    color: #1f934a;  
    background: rgba(31, 147, 74, 0.1);
}

.messages_status a,
.webform-confirmation__message {    
    color: #1f934a;
}

.messages_status:before, 
.webform-confirmation__message:before {
    background-color: #1f934a;  
}

.messages_error { 
    color: #cc3131;
    background: rgba(204, 49, 49, 0.1);
}

.messages_error:before {
    background-color: #cc3131;  
}



