body,
.mobile-nav {
    background: #50a4ec;
    background: linear-gradient(90deg, #50a4ec 0%, #3479d4 100%);
}

.content,
.featured,
.footer,
.intro__image:before,
.top-menu__link:after,
.mobile-nav-toggle span {
    background: #fff;
}

.header,
.content-header,
.intro__text,
.main-menu__link,
.top-menu__link,
.button,
.mobile-menu__link,
.tabs a {
    color: #fff;
}

.block__title,
.purposes-list__item-title,
.objectives-list__item-title,
.news-block-item__title a,
.articles-block-item__title a,
.conference__title a,
.news-item__title a,
.project__title a,
.article__title a,
.partner__title a,
.node__content h2,
.node__content h3,
.node__content h4,
.node__content h5,
.node__content h6 {
    color: #000;
}

.node__content a,
.document a {
    color: #3479d4;
}

.node__content a:hover,
.document a:hover {
    color: #50a4ec;
}

.button,
.node__content ul li:before,
.tabs a {
    background: #3479d4;
}

.topbar__button {
    background: rgba(0, 0, 0, 0.15);
}

.button:hover,
.tabs a:hover {
    background: #50a4ec;
}

.node__content,
.view__description,
.regions-item__description,
.regions-item__coordinator-name,
.regions-item__phone,
.regions-item__email {
    color: rgba(0, 0, 0, 0.8);
}

.about__body,
.join__body,
.news-item__summary,
.conference__summary,
.project__summary,
.article__summary,
.partner__description,
.regions-item__coordinator-position {
    color: rgba(0, 0, 0, 0.7);
}

.news-block-item:last-child {
	border-right: none;
}

.footer,
.footer a {
    color: rgba(0, 0, 0, 0.5);
}

.news-block-item__date,
.page-header__date,
.news-item__date,
.purposes-list__item:before,
.objectives-list__item:before,
.objectives-list__item:before {
    color: #50a4ec;
}

.about:before,
.join:before,
.purposes-list__item:before,
.articles-block-item__image:before,
.articles-block-item__image:after,
.document,
.news-item__image:before,
.page-header:before {
    background: rgba(80, 164, 236, 0.15);
}

.news-block-item__date {
    border-right: 2px solid rgba(80, 164, 236, 0.3);
}

.form-text,
.form-email,
.form-textarea {
    border: 2px solid #acacac;
}

.form-text:focus,
.form-email:focus,
.form-textarea:focus {
	border: 2px solid #7a7a7a;
}

.messages_status,
.webform-confirmation__message {    
    color: #1f934a;  
    background: rgba(31, 147, 74, 0.1);
}

.messages_status a,
.webform-confirmation__message {    
    color: #1f934a;
}

.messages_status:before, 
.webform-confirmation__message:before {
    background-color: #1f934a;  
}

.messages_error { 
    background: rgba(204, 49, 49, 0.1);
}

.messages_error:before {
    background-color: #cc3131;  
}



