/*-------------------------------------------*
/* Fonts
/*-------------------------------------------*/

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaLight.eot');
    src: url('../fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaLight.woff') format('woff'),
         url('../fonts/ProximaNovaLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaRegular.woff') format('woff'),
         url('../fonts/ProximaNovaRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaRegularItalic.eot');       
    src: url('../fonts/ProximaNovaRegularItalic.eot') format('embedded-opentype'), 
         url('../fonts/ProximaNovaRegularItalic.woff') format('woff'),
         url('../fonts/ProximaNovaRegularItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaSemibold.eot');
    src: url('../fonts/ProximaNovaSemibold.eot') format('embedded-opentype'),         
         url('../fonts/ProximaNovaSemibold.woff') format('woff'),
         url('../fonts/ProximaNovaSemibold.ttf') format('truetype');         
    font-style: normal;
    font-weight: 500;       
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),         
         url('../fonts/ProximaNovaBold.woff') format('woff'),
         url('../fonts/ProximaNovaBold.ttf') format('truetype');         
    font-style: normal;
    font-weight: 600;       
}

/*------------------------------------------------------------*/
/* Base Styles
/*------------------------------------------------------------*/

* {  
	box-sizing: border-box;   
	outline: none;
}

html {
	font-size: 100%;
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'ProximaNova';		
}

strong, 
b {
	font-weight: 600;
}

em {
	font-style: italic;
}

a {
    text-decoration: none;
    transition: color 0.2s linear, background 0.2s linear;
}

img {
    display: block;
    width: 100%;
    height: auto;  
}

/*------------------------------------------------------------*/
/* Layout
/*------------------------------------------------------------*/

header,
nav,
section,
main,
footer {
	display: block;	
}

.header,
.region-header-right,
.main-wrapper,
.region-footer-first,
.region-footer-second {
    display: -ms-flexbox;
    display: flex;
}

.region-header-right,
.region-footer-first,
.region-footer-second {
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header,
.region-header-right {
	-ms-flex-align: center;
	align-items: center;
}

.region-header-right,
.region-footer-first,
.region-footer-second {
	-ms-flex-pack: justify;
    justify-content: space-between;
}

.main-wrapper {
	-ms-flex-align: start;
	align-items: flex-start;
}

.header-left,
.sidebar-first {
	-ms-flex: 0 0 15%;
	flex: 0 0 15%;
	flex: 0 0 15vw;
	max-width: 15%;
	max-width: 15vw;
}

.header-right,
.content {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.header {
	padding: 3rem 0;
	padding: 2.5vw 0;
}

.header-left {
	padding: 0 3rem;
	padding: 0 2.5vw;
}

.header-right {
	padding: 0 3rem 0 6rem;
	padding: 0 2.5vw 0 5vw;
}

.sidebar-first {
	padding: 3rem 3rem 0 3rem;
	padding: 2.5vw 2.5vw 0 2.5vw;
	position: relative;
	z-index: 10;
}

.sidebar-first .block,
.content-main .block {
	margin: 0 0 6rem 0;
	margin: 0 0 5vw 0;
}

.featured .block:last-child,
.content-main .block:last-child {
	margin: 0;
}

.content,
.footer {
	position: relative;
}

.block-page-title-block {    
	padding: 3rem 25% 3rem 6rem;
    padding: 2.5vw 20vw 2.5vw 5vw;
}

.content-main {
	position: relative;
	padding: 0 3rem 0 0;
	padding: 0 2.5vw 0 0;	
}

.region-content {
	position: relative;
	z-index: 10;
	opacity: 0;
}

.region-content .block:last-child {
	padding: 0;
}

.region-content,
.region-featured,
.footer-first {
	padding: 6rem;
	padding: 5vw;
}

.featured,
.footer {
	padding: 0 3rem 0 15%;
	padding: 0 2.5vw 0 15vw;
}

.footer-second {
	padding: 0 6rem 3rem 6rem;
    padding: 0 5vw 2.5vw 5vw;
}

.content-main:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;    
	top: 0;
	right: 0;
    bottom: 0;
    left: -26%;
    left: -20vw; 
}

/*------------------------------------------------------------*/
/* Site Branding 
/*------------------------------------------------------------*/

.site-branding__logo {
	display: block;
	width: 4.75rem;
	width: 4vw;
	transform: translateX(-7.75rem);
	transform: translateX(-6.5vw);
}

/*------------------------------------------------------------*/
/* Main Menu 
/*------------------------------------------------------------*/

.main-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu__item {
	opacity: 0;
}

.main-menu__link {
    position: relative;
	display: inline-block;
	padding: 0.375rem 0;
	padding: 0.313vw 0;
	font-size: 1.5rem;	
	font-size: 1.25vw;
	font-weight: 300;
}

.main-menu__link:before {
    content: "";
	position: absolute;
	display: block;
	top: 50%;
	left: -1em;
	width: 0.25em;
	height: 0.25em;
	margin: -0.125em 0 0 0;
    opacity: 0;
    transition: 0.2s linear;
}

.main-menu__link:hover:before {
	opacity: 0.5;
}

.main-menu__link.is-active:before {
	opacity: 1;
}

/*------------------------------------------------------------*/
/* Top Menu 
/*------------------------------------------------------------*/

.top-menu {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.top-menu__item {
	margin: 0 1.5rem 0 0;
	margin: 0 1.25vw 0 0;
	opacity: 0;
}

.top-menu__link {
	position: relative;
	display: block;
	padding: 0.5rem 0;
	font-size: 1.25rem;
	font-size: 1.042vw;
    font-weight: 300;
	line-height: 1;
}

.top-menu__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
	height: 2px;
	opacity: 0.5;
    transition: 0.2s linear;
}

.top-menu__link:hover:after {
	width: 100%;
	opacity: 0.5;
	
}

.top-menu__link.is-active:after {
	width: 100%;
	opacity: 1;	
}

/*------------------------------------------------------------*/
/* Breadcrumb
/*------------------------------------------------------------*/

.breadcrumb {
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 2.5rem 0;
	padding: 0;
	list-style: none;
	font-size: 0.875rem;
	font-weight: 400;
}

.breadcrumb__separator {
	margin: 0 0.5rem;
}

.breadcrumb__separator:last-child {
	display: none;
}

/*------------------------------------------------------------*/
/* Titles 
/*------------------------------------------------------------*/

.page-title {    
	margin: 0;
	font-size: 3rem;
	font-size: 2.5vw;
    font-weight: 600; 
    line-height: 1.2;
}

.page-title span {
	display: inline-block;
	opacity: 0;
	transform: translateY(20px);
    will-change: transform;
}

.page-subtitle {
	width: 50%;
	margin: 0 0 3rem 0;
    margin: 0 0 2.5vw 0;
	font-size: 2.5rem;
	font-size: 2.083vw;
	font-weight: 500;
	line-height: 1.2;
}

.block-title {
	margin: 0 0 3rem 0;
	margin: 0 0 2.5vw 0;
	font-size: 3rem;
	font-size: 2.5vw;
	font-weight: 600;	
	line-height: 1;
}

/*------------------------------------------------------------*/
/* Nodes 
/*------------------------------------------------------------*/

.node__content {	
	font-size: 1.125rem;
	font-size: 0.938vw;
	font-weight: 400;
	line-height: 1.5;	
}

.node__content h2 {
	margin: 0 0 1.5rem 0;
	margin: 0 0 1.25vw 0;
	font-size: 2.5rem;
	font-size: 2.083vw;
	font-weight: 500;
	line-height: 1.3;
}

.node__content h3 {
	margin: 0 0 1.5rem 0;
	margin: 0 0 1.25vw 0;
	font-size: 2rem;
	font-size: 1.667vw;
	font-weight: 500;
	line-height: 1.3;
}

.node__content h4 {
    margin: 0 0 1rem 0;
	font-size: 1.75rem;
	font-size: 1.458vw;
	font-weight: 500;
	line-height: 1.3;
}

.node__content h5 {
    margin: 0 0 0.5rem 0;
	font-size: 1.5rem;
	font-size: 1.25vw;
	font-weight: 500;
	line-height: 1.3;
}

.node__content h6 {
    margin: 0 0 0.5rem 0;
	font-size: 1.25rem;
	font-size: 1.042vw;
	font-weight: 500;
	line-height: 1;
}

.node__content p {
	margin: 0 0 1.5rem 0;
	margin: 0 0 1.25vw 0;
}

.node__content p:last-child {
    margin: 0;
}

.node__content ul {
	margin: 0 0 1.5rem 1.5rem;
	margin: 0 0 1.25vw 1.25vw;
	padding: 0;
	list-style: none;
}

.node__content ul li {
	position: relative;
	margin: 0 0 1.5rem 0;
	margin: 0 0 1.25vw 0;
	padding: 0 0 0 1.25em; 
	list-style: none;
}

.node__content ul li:before {
    content: "";
    display: block;  
    position: absolute;  
	top: 0.65em;
    left: 0;
    width: 0.25em;
    height: 0.25em;
}

/*------------------------------------------------------------*/
/* Forms, Buttons
/*------------------------------------------------------------*/

.form__item {
	margin: 0 0 2rem 0;	
    margin: 0 0 1.667vw 0;
}

.form__label {
	display: block;
	margin: 0 0 0.25em 0;
	font-weight: 400;
	font-size: 1.25rem;
	font-size: 1.042vw;
}

.form__label_required:after {
	content: "*";
	display: inline-block;
	margin: 0 0 0 0.25em;
}

.form-text,
.form-email,
.form-textarea {
	padding: 0.5em;
	font-family: 'ProximaNova';
	font-size: 1.125rem;
	font-weight: 400;
	transition: 0.2s linear;	
}

.form-text,
.form-email {
	width: 50%;	
}

.form-textarea {
	width: 100%;
}

.button {
	display: inline-block;
	padding: 0.6em 1.2em;
	font-family: 'ProximaNova';
	font-size: 1.25rem;
	font-size: 1.042vw;
	font-weight: 300;
	line-height: 1;
	border: none;
	cursor: pointer;
	border-radius: 2em;
	transition: 0.2s linear;
}

/*------------------------------------------------------------*/
/* Footer
/*------------------------------------------------------------*/

.footer:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
	top: -6rem;
	top: -5vw;
    left: 0;
	width: 15%;
    width: 15vw;
	height: 6rem;
    height: 5vw;
}

.region-footer-first {
	font-size: 1.375rem;
    font-size: 1.146vw;
	line-height: 1.5;
	font-weight: 300;
}

.region-footer-second {
	font-size: 1.125rem;
    font-size: 0.938vw;
    line-height: 1.5;
    font-weight: 300;
}

/*------------------------------------------------------------*/
/* Footer Menu
/*------------------------------------------------------------*/

.footer-menu {
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-menu__item {
	margin: 0 1.5rem 0 0;
	margin: 0 1.25vw 0 0;
}

.footer-menu__link {
	position: relative;
	display: block;
	padding: 0.5rem 0;
    font-size: 1.25rem;
    font-size: 1.042vw;
	font-weight: 300;
	line-height: 1;
}

.footer-menu__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
	height: 2px;
	opacity: 0.5;
    transition: 0.2s linear;
}

.footer-menu__link:hover:after {
	width: 100%;
	opacity: 0.5;
	
}

.footer-menu__link.is-active:after {
	width: 100%;
	opacity: 1;	
}

/*------------------------------------------------------------*/
/* Admin Tabs 
/*------------------------------------------------------------*/

.tabs ul {
	display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin: 0 0 2rem 0;
	padding: 0;
	list-style: none;
}

.tabs li {
	margin: 0;
	padding: 0;
}

.tabs a {
	display: block;
	margin: 0 0.5rem 0 0;
	padding: 0.5rem 1rem;
	font-size: 1.125rem;
	font-weight: 400;
}

/*------------------------------------------------------------*/
/* Messages
/*------------------------------------------------------------*/

.messages,
.webform-confirmation__message {
	border: none;
    border-radius: 0;
	margin: 0 0 2rem 0;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
	position: relative;
	font-weight: 400;
}

.messages_status,
.messages_error {
    background-image: none;
	box-shadow: none;
	background-color: transparent;
}

.messages_status:before,
.messages_error:before,
.webform-confirmation__message:before {
	position: absolute;
	display: block;
	content: "";
	width: 2rem;
	height: 2rem;
	top: 50%;
	left: 2rem;
	margin: -1rem 0 0 -1rem;
	background-repeat: no-repeat;
	background-size: 1rem auto;
	background-position: 50% 50%;
	border-radius: 2rem;
}

.messages_status:before,
.webform-confirmation__message:before {
    background-image: url(../images/ok.svg);
}

.messages_error:before {
    background-image: url(../images/close.svg);
}

/*------------------------------------------------------------*/
/* Mobile Navigation
/*------------------------------------------------------------*/

.mobile-nav-toggle  {
	display: none;
	width: 2rem;
	width: 8vw;
	height: 1rem;
	height: 4vw;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	position: relative;	
	background: transparent;
	-webkit-tap-highlight-color: transparent;
}

.mobile-nav-toggle span {
    width: 100%;
    height: 2px;
    position: absolute;
    transition: 0.2s linear;
}

.mobile-nav-toggle span:nth-child(1) {
    left: 0;
    top: 0;
    transform: rotate(0deg);
}

.mobile-nav-toggle span:nth-child(2) {
    left: 0;
    bottom: 0;
    transform: rotate(0deg);
}

.mobile-nav-toggle.is-active span:nth-child(1) {
    left: 0;
    top: 50%;  
    margin: -0.125rem 0 0 0;
    transform: rotate(-45deg);
}

.mobile-nav-toggle.is-active span:nth-child(2) {
    left: 0;
    bottom: 50%; 
    transform: rotate(45deg);
}

.mobile-nav {
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	bottom: 0;	
	width: 100%;
	padding: 4.5rem 1rem 1rem 1rem;
	padding: 20vw 4vw 4vw 4vw;
	overflow-y: auto;
}

.mobile-nav .block {
	margin: 0 0 1.5rem 0;
	margin: 0 0 6.4vw 0;
}

.mobile-menu {
	margin: 0;
	padding: 0;	
	list-style: none;
}

.mobile-menu__item {
	opacity: 0;
}

.mobile-menu__link {
	display: block;
	padding: 0.5rem 0;
	padding: 2.133vw 0;	
	font-weight: 300;
}



