/*-------------------------------------------*
/* Fonts
/*-------------------------------------------*/

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaLight.eot');
    src: url('../fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaLight.woff') format('woff'),
         url('../fonts/ProximaNovaLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaRegular.woff') format('woff'),
         url('../fonts/ProximaNovaRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaRegularItalic.eot');       
    src: url('../fonts/ProximaNovaRegularItalic.eot') format('embedded-opentype'), 
         url('../fonts/ProximaNovaRegularItalic.woff') format('woff'),
         url('../fonts/ProximaNovaRegularItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaSemibold.eot');
    src: url('../fonts/ProximaNovaSemibold.eot') format('embedded-opentype'),         
         url('../fonts/ProximaNovaSemibold.woff') format('woff'),
         url('../fonts/ProximaNovaSemibold.ttf') format('truetype');         
    font-style: normal;
    font-weight: 500;       
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),         
         url('../fonts/ProximaNovaBold.woff') format('woff'),
         url('../fonts/ProximaNovaBold.ttf') format('truetype');         
    font-style: normal;
    font-weight: 600;       
}

/*------------------------------------------------------------*/
/* Base styles
/*------------------------------------------------------------*/

* {  
	box-sizing: border-box;   
	outline: none;
}

html {
	font-size: 100%;
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'ProximaNova';		
}

strong, 
b {
	font-weight: 500;
}

em {
	font-style: italic;
}

a {
    text-decoration: none;
    transition: color 0.2s linear, background-color 0.2s linear;
}

/*------------------------------------------------------------*/
/* Layout
/*------------------------------------------------------------*/

.region-header,
.region-topbar {
	display: flex;
	justify-content: space-between;
}

.header {
	position: fixed;
	z-index: 100;
    top: 0; 
    left: 0;
	width: 20rem; 	
	height: 100%;
}

.region-header {
	position: absolute;	
	flex-direction: column;	
	width: 100%;
	height: 100%;
	padding: 2.5rem;
}

.topbar,
.content {
	margin: 0 0 0 20rem;
}

.topbar,
.region-content {
	padding: 2.5rem;
}

.path-frontpage .topbar {
	position: absolute;	
	z-index: 100;
	top: 0;
	right: 0;
	left: 20rem;
	margin: 0;
}

.content {
	display: none;
}

/*------------------------------------------------------------*/
/* Site branding 
/*------------------------------------------------------------*/

.site-branding__logo {
	display: block;
	width: 5rem;
}

.site-branding__logo img {
	display: block;
	width: 100%;
	height: auto;
}

/*------------------------------------------------------------*/
/* Main menu 
/*------------------------------------------------------------*/

.main-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu__link {
	display: block;
	padding: 0.25rem 0;
	font-size: 1.625rem;	
	font-weight: 400;
}

/*------------------------------------------------------------*/
/* Main menu 
/*------------------------------------------------------------*/

.top-menu {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.top-menu__item {
	margin: 0 1.5rem 0 0;
}

.top-menu__link {
	display: block;
	font-size: 1.125rem;
	font-weight: 400;
}

/*------------------------------------------------------------*/
/* Main menu 
/*------------------------------------------------------------*/

.breadcrumb {
	display: flex;
	margin: 0 0 2rem 0;
	padding: 0;
	list-style: none;
	font-size: 0.875rem;
	font-weight: 400;
}

.breadcrumb__separator {
	margin: 0 0.5rem;
}

.breadcrumb__separator:last-child {
	display: none;
}

/*------------------------------------------------------------*/
/* Titles 
/*------------------------------------------------------------*/

.page__title {
	margin: 0 0 2.5rem 0;
    font-size: 3rem;
	font-weight: 600;
}

.block__title {
    margin: 0 0 1.5rem 0;
    font-size: 1.875rem;
    font-weight: 600;	
}

/*------------------------------------------------------------*/
/* Nodes 
/*------------------------------------------------------------*/

.node__content {	
	font-size: 1.125rem;
	font-weight: 400;
}

.node__content h2 {
    margin: 0 0 1.5rem 0;
    font-size: 1.875rem;
	font-weight: 600;
}

.node__content h3 {
    margin: 0 0 1.25rem 0;
    font-size: 1.625rem;
	font-weight: 500;
}

.node__content h4 {
    margin: 0 0 1.25rem 0;
    font-size: 1.375rem;
	font-weight: 500;
}

.node__content h5 {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
	font-weight: 500;
}

.node__content h6 {
    margin: 0 0 1rem 0;
    font-size: 1.125rem;
	font-weight: 500;
}

.node__content p {
    margin: 0 0 1.5rem 0;
}

.node__content p:last-child {
    margin: 0;
}

/*------------------------------------------------------------*/
/* Copyright 
/*------------------------------------------------------------*/

#block-copyright {
    font-size: 0.875rem;
	line-height: 1.5;
	font-weight: 400;
}

/*------------------------------------------------------------*/
/* Admin Tabs 
/*------------------------------------------------------------*/

.tabs ul {
	display: flex;
	margin: 0 0 2rem 0;
	padding: 0;
	list-style: none;
}

.tabs li {
	margin: 0 1.5rem 0 0;
	font-weight: 400;
}

/*------------------------------------------------------------*/
/* Messages
/*------------------------------------------------------------*/

.messages,
.webform-confirmation__message {
    border: 0.125rem solid;
    border-radius: 0;
	margin: 0 0 2rem 0;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
	position: relative;
	font-weight: 400;
}

.messages_status,
.messages_error {
    background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
}

.messages_status:before,
.messages_error:before,
.webform-confirmation__message:before {
	position: absolute;
	display: block;
	content: "";
	width: 2rem;
	height: 2rem;
	top: 50%;
	left: 2rem;
	margin: -1rem 0 0 -1rem;
    background-image: url(../images/ok.svg);
	background-repeat: no-repeat;
	background-size: 1rem auto;
	background-position: 50% 50%;
	border-radius: 2rem;
}

.messages_status:before,
.webform-confirmation__message:before {
    background-image: url(../images/ok.svg);
}

.messages_error:before {
    background-image: url(../images/close.svg);
}

