@media (max-width: 1600px) {}

/*------------------------------------------------------------*/


@media (max-width: 1366px) {

    .news-item__title,
    .news-item__summary,
    .news-block-item,
    .conference__title,
    .conference__summary,
    .partner__header,
    .partner__description,
    .article__title,
    .article__summary,
    .regions-item__header,
    .regions-item__text,
    .project__title,
    .project__summary {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
   
}

/*------------------------------------------------------------*/

@media (max-width: 768px) { 

    .mobile-nav-toggle {
        display: block;
    }

    .topbar,
    .main-menu,
    .top-menu,
    #block-contacts,
    .intro__image-overlay {
        display: none;
    }

    .page {
        padding: 3.125rem 0 0 0;
    }

    .header {
        width: 100%; 	
        height: auto;
    } 

    .region-header {
        height: auto;
        flex-direction: row;       
        align-items: center;
    }

    .site-branding__logo {
        transform: translateX(0);
    }

    .intro__content {    
        align-items: flex-start;
        height: auto;
        padding: 0;
    }

    .intro__text,
    .intro__image {
        flex: 0 0 100%;
        max-width: 100%;
    }


    .news-item__date,
    .conference__summary,
    .news-item__summary,
    .project__summary,
    .node__metadata,
    .node__content,
    .partner__description,
    .article__summary,
    .news-block-item__title {
        font-size: 1rem;
    }

    .conference__title,
    .news-item__title,
    .project__title,    
    .partner__title,
    .article__title {
	    font-size: 1.125rem;
    }

    .partner__logo {
        flex: 0 0 2.8125rem;
    }

    .node__content ul li:before {
        top: 0.6875rem
    }

}
