@media (max-width: 1366px) {

    
}

/*------------------------------------------------------------*/

@media (max-width: 768px) { 

    .mobile-nav-toggle {
        display: block;
    }

    .topbar,
    .main-menu,
    .top-menu,
    #block-contacts,
    .intro__image-overlay {
        display: none;
    }

    .page {
        padding: 3.125rem 0 0 0;
    }

    .header {
        width: 100%; 	
        height: auto;
        padding: 0.5rem 1rem;
    } 

    .region-header {
        height: auto;
        flex-direction: row;       
        align-items: center;
    }

    .region-content,
    .featured,
    .footer {
        padding: 1rem;
    }

    .site-branding__logo {
        width: 2rem;
        transform: translateX(0);
    }

    .intro__content {    
        align-items: flex-start;
        height: auto;
        padding: 0;
    }

    .news-item,
    .conference,
    .project,
    .regions-item,
    .article,
    .partner {
        margin: 0 0 1.5rem 0;
        padding: 0 0 1.5rem 0;
    }

    .intro__text,
    .intro__image,
    .news-item__title,
    .news-item__summary,
    .news-block-item,
    .conference__title,
    .conference__summary,
    .partner__header,
    .partner__description,
    .article__title,
    .article__summary,
    .regions-item__header,
    .regions-item__text,
    .project__title,
    .project__summary {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .news-item__title,
    .conference__title,
    .partner__header,
    .regions-item__header,
    .article__title,    
    .project__title {
        padding: 0 0 1.5rem 0;
    }

    .regions-item__title,
    .partner__title {
        padding: 0 0 0 0.75rem;
    }

    .intro__text {
        padding: 1rem;
    }

    .intro__title {
        margin: 0 0 1rem 0;
        font-size: 1.75rem;
    }

    .intro__slogan,
    .view__header,
    .news-item__date,
    .conference__summary,
    .news-item__summary,
    .project__summary,
    .node__metadata,
    .node__content,
    .partner__description,
    .article__summary,
    .news-block-item__title,
    .regions-item__description,
    .regions-item__coordinator-name,
    .regions-item__coordinator-position,
    .regions-item__phone,
    .regions-item__email {
        font-size: 1rem;
    }

    .view__header,
    .page__title {
        margin: 0 0 1.5rem 0;
    }

    .page__title {
        font-size: 1.5rem;
    }

    .block__title {
        font-size: 1.25rem;
    }

    .conference__title,
    .news-item__title,
    .project__title,    
    .partner__title,
    .article__title,
    .regions-item__title {
	    font-size: 1.125rem;
    }

    .partner__logo,
    .regions-item__logo {
        flex: 0 0 2.8125rem;
    }

    .view-news-block .view__content {    
        margin: 0;
    }
    
    .news-block-item {
        padding: 0 0 1.5rem 0;
        border: none;
    }

    .news-block-item:last-child {
        padding: 0;
    }

    .node__content ul {
        margin: 0 0 1.5rem 1rem;
    }

    .node__content ul li:before {
        top: 0.6875rem
    }

}
