.view__description {
    margin: 0 0 5rem 0;    	
	font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.view-grouping__title {
    margin: 2.5rem 0 1.5rem 0;
	font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

/*------------------------------------------------------------*/
/* About, Join
/*------------------------------------------------------------*/

.about,
.join {
    position: relative;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about {
    padding: 2.5rem 0 0 0;
}

.join {
    padding: 0 0 2.5rem 0;
}

.about:before,
.join:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
}

.about:before {
    top: 0;    
    right: 0;
    left: 2.5rem;
    bottom: 2.5rem;
}

.join:before {
    top: 2.5rem;    
    right: 2.5rem; 
    left: -2.5rem; 
    bottom: 0;
}

.about__image,
.join__image {
    position: relative;
    z-index: 2;
}

.about__text,
.join__text {
    position: relative;
    z-index: 2;
}

.about__text {
    padding: 0 2.5rem 5rem 2.5rem;
}

.join__text {
    padding: 5rem 2.5rem 0rem 0;
}

.about__text,
.about__image,
.join__text,
.join__image {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.about__title,
.join__title {   
    margin: 0 0 1.5rem 0; 
    font-size: 2.5rem;
    font-weight: 500; 
    line-height: 1.2;
}

.about__body,
.join__body {	
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5;
}

.about__body {	
    margin: 0;
}

.join__body {	
    margin: 0 0 1.5rem 0;
}

/*------------------------------------------------------------*/
/* Intro
/*------------------------------------------------------------*/

.intro__text {
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2.5rem 0;
}

.intro__title,
.intro__slogan {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
    opacity: 0;
}

.intro__title {    
    padding: 0 2.5rem 0 0;
    font-size: 2.125rem;
    font-weight: 500; 
    line-height: 1.2;
}

.intro__slogan {    
    font-size: 1.25rem; 
    font-weight: 300; 
    line-height: 1.5;
}

.intro__image {
    position: relative;
}

.intro__image img {
    position: relative;
    z-index: 2;
}

.intro__image:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;    
    right: 0;
    left: 0;
    bottom: 0;
}

/*------------------------------------------------------------*/
/* News Block
/*------------------------------------------------------------*/

.view-news-block .view__content,
.news-block-item {    
    display: -ms-flexbox;
    display: flex;
}

.view-news-block .view__content {    
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
}

.news-block-item {
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 0 1.5rem;
    line-height: 1.2;
}

.news-block-item__date {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 1.25rem 0 0;    
}

.news-block-item__date-day {
    display: block;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1;
}

.news-block-item__date-month {
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.news-block-item__date-year {
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.news-block-item__text {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding: 0 0 0 1.25rem;
}

.news-block-item__title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
}

.news-block-item__title a {
    display: block;  
}

/*------------------------------------------------------------*/
/* Purposes
/*------------------------------------------------------------*/

.purposes-list,
.purposes-list__item:before {
    display: -ms-flexbox;
    display: flex;
}

.purposes-list {
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -2.5rem; 
	padding: 0;
	list-style: none;
    counter-reset: purposesCounter;
}
  
.purposes-list__item {  
    position: relative;  
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;    
    padding: 0 2.5rem 5rem 2.5rem;
}

.purposes-list__item:nth-last-child(2),
.purposes-list__item:last-child {  
    padding: 0 2.5rem 0 2.5rem;
}
  
.purposes-list__item-title {  
    padding: 0.375rem 0 0 4rem;
    font-size: 1.25rem;
    font-weight: 500; 
    line-height: 1.3;
}

.purposes-list__item-title:first-letter {  
    text-transform: uppercase;
}

.purposes-list__item:before {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    counter-increment: purposesCounter;
    content: counter(purposesCounter);
    position: absolute;
    top: 0;    
    left: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
}

/*------------------------------------------------------------*/
/* News Page
/*------------------------------------------------------------*/

.news-item,
.news-item__content {  
    display: -ms-flexbox;
    display: flex;
}

.news-item {
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 2.5rem 0;
}

.news-item__content {  
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;    
}

.news-item__date {
    position: relative;
    z-index: 2;
    -ms-flex: 0 0 3.5rem;
    flex: 0 0 3.5rem;
    max-width: 3.5rem;
}

.news-item__date-day,
.news-item__date-month,
.news-item__date-year {
    position: relative;
    z-index: 2;
    display: block;
}

.news-item__date-day {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
}

.news-item__date-month {
    font-size: 1.125rem;
    font-weight: 400;
}

.news-item__date-year {
    font-size: 0.9375rem;
    font-weight: 400;
}

.news-item__content {
    position: relative;
    z-index: 2;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.news-item__image {
    position: relative;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.news-item__image:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: -2.5rem;
    right: 50%;
    bottom: -2.5rem;
    left: -6rem;
}

.news-item__image img {
    position: relative;
    z-index: 2;
}

.news-item__text {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 0 0 2.5rem;
}

.news-item__title {
    margin: 0 0 1rem 0;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.news-item__title a {
    display: block;
}

.news-item__summary {
    margin: 0;
	font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

/*------------------------------------------------------------*/
/* News Item Page Header
/*------------------------------------------------------------*/

.page-header,
.page-header__text {
    display: -ms-flexbox;
    display: flex;
}

.page-header {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;     
    margin: 0 0 2.5rem 0;
    padding: 0 0 2.5rem 0;
}

.page-header:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 2.5rem;
    right: 2.5rem;
    left: -2.5rem;
    bottom: 0;
    left: -2.5rem;
}

.page-header__text {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5rem 2.5rem 0 0;
}

.page-header__image,
.page-header__text {
    position: relative;
    z-index: 2;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.page-header__summary {
    padding: 0 0 2.5rem 0;
	font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.page-header__date {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

/*------------------------------------------------------------*/
/* Conferences
/*------------------------------------------------------------*/

.view-conferences .view__content {  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -2.5rem;
}

.conference {  
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 2.5rem 5rem 2.5rem;
}

.conference:nth-last-child(2),
.conference:last-child {  
    padding: 0 2.5rem;
}

.conference__title {
    margin: 0 0 1.5rem 0;
	font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.conference__title a {
    display: block;
}

.conference__summary {
    margin: 0;    
	font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

/*------------------------------------------------------------*/
/* Projects
/*------------------------------------------------------------*/

.project {
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 5rem 0;
}

.project:last-child {
    margin: 0;
}

.project__image {
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
}

.project__text {
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 0 0 2.5rem;
}

.project__title {
    margin: 0 0 1.5rem 0;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.project__summary {
	font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

/*------------------------------------------------------------*/
/* Regions
/*------------------------------------------------------------*/

.regions-item {
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 0 5rem 0;
}

.regions-item:last-child {
    margin: 0;
}

.regions-item__header {
    display: -ms-flexbox;
    display: flex;
	-ms-flex-align: center;
    align-items: center;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; 
    padding: 0 2.5rem 0 0;
}

.regions-item__logo {
    -ms-flex: 0 0 5.625rem;
    flex: 0 0 5.625rem;
    max-width: 5.625rem;
}

.regions-item__title {
    -ms-flex:1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 0 0 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.regions-item__text {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;    
}

.regions-item__description {
    margin: 0 0 0.5rem 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.regions-item__coordinator-name {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.regions-item__coordinator-position {
    margin: 0 0 1rem 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.regions-item__phone {
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
}

.regions-item__email {
    font-size: 1.25rem;
}

/*------------------------------------------------------------*/
/* Articles Block
/*------------------------------------------------------------*/

.view-articles-block .block__title,
.view-articles-block .button {
    position: relative;
    z-index: 2;
    margin: 0;
}

.view-articles-block .view__content {    
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -2.5rem;
}

.articles-block-item {
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 2.5rem 2.5rem 0 2.5rem;
}

.articles-block-item__image {
    position: relative;    
}

.articles-block-item__image img {
    position: relative;
    z-index: 2;
}

.articles-block-item__image:before,
.articles-block-item__image:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: -2.5rem;
    bottom: 50%;
}

.articles-block-item__image:before {
    right: 2.5rem;
    left: -2.5rem;
}

.articles-block-item__image:after {
    width: 5rem;
    right: -2.5rem;
}

.articles-block-item:last-child .articles-block-item__image:after {
    display: none;
}

.articles-block-item__title {
    margin: 0;
    padding: 1rem 0 0 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
}

.articles-block-item__title a {
    display: block;  
}

/*------------------------------------------------------------*/
/* Articles Page
/*------------------------------------------------------------*/

.article {
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.article {  
    margin: 0 0 5rem 0;
}

.article:last-child {
    margin: 0;
}

.article__image {
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
}

.article__text {
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 0 0 2.5rem;
}

.article__title {
    margin: 0 0 1.5rem 0;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.article__title a {
    display: block;
}

.article__summary {
    margin: 0;
	font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

/*------------------------------------------------------------*/
/* Partners
/*------------------------------------------------------------*/

.partner {
    margin: 0 0 5rem 0;
}

.partner:last-child {
    margin: 0;
}

.partner__header {
    display: -ms-flexbox;
    display: flex;
	-ms-flex-align: center;
    align-items: center;
    margin: 0 0 1.5rem 0;
}

.partner__logo {
    -ms-flex: 0 0 5.625rem;
    flex: 0 0 5.625rem;
    max-width: 5.625rem;
}

.partner__title {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 0 0 1.5rem;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

.partner__description {
    padding: 0 0 0 7.125rem;;
	font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.partner__description p {
    margin: 0 0 1.5rem 0;
}

.partner__description p:last-child {
    margin: 0;
}

/*------------------------------------------------------------*/
/* Docs
/*------------------------------------------------------------*/

.document {
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.file--x-office-document,
.file--application-pdf {
    background-image: none;
}

.file {
    position: relative;
    z-index: 2;
    display: inline-block;
    font-size: 1.25rem;
    min-height: auto;
    padding-left: 0;
}

.file--x-office-document a,
.file--application-pdf a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
	min-height: 2.5rem;
	background-repeat: no-repeat;
	background-size: auto 2.5rem;
	background-position: 0 0;
	padding: 0 0 0 3rem;
}

.file--x-office-document a {
    background-image: url(../images/doc.svg);
}

.file--application-pdf a {
    background-image: url(../images/pdf.svg);
}





